@import 'partials/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
$width: 1600px;

html {
  font-family: 'Merriweather', serif;
}

.wrap_section {
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  min-width: 1180px;
  max-width: $width;
  overflow: hidden;
}

.horizontal_text {
  min-height: 44px;
  margin: 0 0;
  padding:0 0 0 90px;
  position: relative;
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
  text-align: left;
}

.horizontal_text::first-line {
  line-height: 44px;
}

section.white_padding {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-left: 40px;
}

.menu_fixed {
  position: fixed;
  max-width: 1600px;
  background-color: rgba(98,25,30,.4);
  z-index: 10;
}

.menu_right {
  list-style: none;

}

.menu_right li {
  display: inline-block;
}

.search {
  margin: 0 33px 12px 0;
  width: 20px;
  height: 20px;
  background: url(../i/search.svg) no-repeat center center;
}

.burger {
  margin: 0 33px 12px 0;
  width: 20px;
  height: 20px;
  background: url(../i/burger.svg) no-repeat center center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../i/ava.jpg) no-repeat center center;
}

div.one::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 74px;
  background-color:rgba(255,255,255,0.1);
  content: '';
  display: block;
  width: 1px;
  z-index: 2;
}

div.one {
  background: url(../i/section1.png) center top no-repeat;
  min-height: 1132px;
  width: 100%;
}


div.menu_left {
  padding: 222px 0 0 0 ;
  margin: 0 0 0 -30px;
  font-size: 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  width: 1591px;
}

a.logo {
  box-sizing: border-box;
  display: inline-block;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.2;
  margin: 0 0;
  padding:20px 0 0 0;
  width: 66px;
  height: 66px;
  background-color: rgba(189, 0, 12, 1);
  text-align: center;
  text-decoration: none;
}

nav {
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 20px;
}

nav ul {
  margin: 0 0;
  padding: 0 0;
}

nav li {
  display: inline-block;
  margin: 0 0;
  padding:  0 0 0 35px;
  list-style: none;
}

nav a {
  display: block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color:white;
  text-transform: uppercase;
}


div.one::after {
  position: absolute;
  background: url(../i/two_wave.png) center top no-repeat;
  left: 40px;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  height: 300px;
}

div.wrapper {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.heading {
  font-size: 300px;
  color:white;
  font-weight: 900;
  margin: 0 0;
  padding: 141px 0 0 49px;
  height: 300px;
}

.heading::after {
  position: absolute;
  background: url(../i/space.png);
  content: '';
  display: block;
  left: 180px;
  top: 460px;
  width: 214px;
  height: 35px;
}

.date {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.7;
  margin: 0 0;
  padding: 19px 0 0 573px;
}

.after_date {
  font-size: 45px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: left;
  width:600px;
  min-height: 105px;
  margin: 0 0;
  padding: 12px 0 5px 573px;
}

.annotation{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-align: left;
  width: 430px;
  margin: 0 0;
  padding: 12px 0 0 573px;
}

.vertical_right {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  right : -243px;
  top: 287px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
}

.vertical_left {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  left : -243px;
  top: 680px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
  z-index: 2;
}

div.two::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 74px;
  background-color:rgba(255,255,255,0.1);
  content: '';
  display: block;
  width: 1px;
  z-index: 2;
}

div.two {
  background: #cc171e;
  width: 100%;
  overflow: hidden;
}

.two > p {
  margin: 0 0 0 0;
  padding: 0 0 0 169px;
  font-size: 35px;
  color:white;
  line-height: 1.2;
  text-align: left;
}

.two > div {
 width: 1390px;
 overflow: hidden;
 margin: 40px 0 0 170px;
}

.two > div > div {
  position: relative;
  display: inline-block;
  width: 283px;
  margin: 0 60px 0 0;
}

.two img {
  width: 283px;
  height: 192px;
}

.two a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #cc171e;
  color:white;
  text-decoration: none;
  position: absolute;
  top: 150px;
  right: 10px;
}

.two div > p {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

footer.two::before {
  position: absolute;
  top: 0;
  bottom: 24px;
  left: 34px;
  background-color:rgba(255,255,255,0.1);
  content: '';
  display: block;
  width: 1px;

}

footer.two {
  position: relative;
  background: url(../i/two_footer.png) no-repeat left top;
  width: 100%;
  min-height: 106px;
  z-index: 3;
}

section.three {
  background: url(../i/three_background.png) left 40px top no-repeat;
  width: 100%;
  min-height: 914px;
}

.three {

}