@import 'partials/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');


html {
  font-family: 'Merriweather', serif;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

section.one {
  margin: 0 auto;
  padding: 0  0 0 0;
  min-width: 1180px;
  max-width: 1600px;
  background-color: rgba(189, 0, 12, 1);
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: flex-end;
 }

div.one {
  display: block;
  width: 1561px;
  min-height: 1131px;
  background: url(../i/section1.png) center top no-repeat ;
  position: relative;
}

div.one::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -39px;
  background: rgb(255,255,255);
  content: '';
  display: block;
  width: 39px;
}


div.wrapper {
  width: 1180px;
  margin: 0 auto;

}

.emotion {
  font-size: 300px;
  color:white;
  margin: 0 0;

}

.date {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.7;

}

.after_date {
  font-size: 45px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.111;
  text-align: left;
  width:600px;

}

.annotation{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-align: left;
  width: 430px;

}


