doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='magnific-popup/magnific-popup.css')
    link(rel='stylesheet', href='css/main.css')
  body
    div.menu_fixed
      div
        ul.menu_right
          li.search
          li.burger
          li.avatar
    section.wrap_section
      p.horizontal_text When you enter into any new area of science, you almost always
      section.white_padding
        div.one
          div.menu_left
            a(href='').logo k
            nav
              ul
                li
                  a(href='') reviews
                li
                  a(href='') photos
                li
                  a(href='') videos
                li
                  a(href='') articlesdiv.one
          div.wrapper
            p.heading f&nbsp;&nbsp;  ck
            p.date 01 August 2015
            p.after_date Are you are in the market for a computer?
            p.annotation According to the research firm Frost & Sullivan, the estimated size of the North American used test and measurement
            p.vertical_right For  most of  us &emsp;  the  idea  &nbsp; of
            p.vertical_left thank f_ck for that
      section.white_padding
        div.two
          p Is It Frosting Or Is It Icing
            div.parent-container
              div
                img(src='i/283_192_1.png')
                a(href='') +
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              div
                img(src='i/283_192_2.png')
                a(href='') +
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              div
                img(src='i/283_192_3.png')
                a(href='') +
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              div
                img(src='i/283_192_4.png')
                a(href='') +
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        footer.two
      section.white_padding
        section.three
          div.wrapper
            ul
              li
                a(href='') blog
              li
                a(href='') lorem ipsum dolor
            div.column1-3
              div.first
                h2 Booking A Holiday Tour Or Vacation In Egypt
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              div
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              div
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            p.vertical_right lorem ipsum
      section.white_padding.four
        div.four.slider
          div
            div
              img(src='i/380_269_1.png')
              p The Basics Of Buying A Telescope
              p Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
            form
              input(placeholder='Caroline Fleming')
              button(type='submit') >
          div
            div
              img(src='i/380_269_2.png')
              p Stu Unger Rise And Fall Of A Poker Genius
              p Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
            form
              input(placeholder='Andrew Lamb')
              button(type='submit') >
          div
            div
              img(src='i/380_269_3.png')
              p A Starter Guide To Self Improvement
              p Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
            form
              input(placeholder='Bess Pratt')
              button(type='submit') >
          div
            div
              img(src='i/380_269_3.png')
              p The Power Of Notes
              p Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
            form
              input(placeholder='Bess Pratt')
              button(type='submit') >
      section.five
        div.wrapper
          p.heading b&nbsp;&nbsp;lls
          p.date 01 August 2015
          p.after_date THE BASIC OF WESTERN ASTROLOGY EXPLAINED
          p.annotation According to the research firm Frost & Sullivan, the estimated size of the North American used test and measurement
          p.vertical_right For  most of  us &emsp;  the  idea  &nbsp; of
          p.vertical_left thank f_ck for that
      footer
        div.wrapper

    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(src='js/main.js')